ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  li a:hover {
    color: rgb(236, 183, 9);   
  }

  div nav{
    margin-top:0px;
  }
  
  div.gallery {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 180px;
  }
  
  div.gallery:hover {
    border: 1px solid #777;
  }
  
  div.gallery img {
    width: 100%;
    height: auto;
  }
  
  div.desc {
    padding: 15px;
    text-align: center;
  }

.i_home{
     
        border: 1px solid #ddd;
        border-radius: 4px;
        padding: 5px;
        width: 400px;
      
      
}
.logpage{
    background-color: rgb(255, 255, 255);
    padding:10px;
    margin-top:10px;
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom:50px;
    border-radius:10px;
   
}
.logpagen{
  background-color: rgb(212, 183, 14);
  padding:10px;
  margin-top:10px;
  margin-left: 100px;
  margin-right: 100px;
  margin-bottom:50px;
  border-radius:10px;
}
.logpagenb{
  background-color: rgb(0, 0, 0);
  padding:10px;
  margin-top:10px;
  margin-left: 100px;
  margin-right: 100px;
  margin-bottom:50px;
  border-radius:10px;
}
 
.bg{
    background-color: rgb(41, 87, 87);
    padding:20px;
    margin-left: 250px;
    margin-right: 250px;
    margin-bottom:10px;
    border-radius:10px;
    
}
.bgin{
  background-color: rgb(41, 87, 87);
  padding:20px;
 
  border-radius:10px;
  
}



input[type=text]{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    border: 3px solid rgb(0, 198, 212);
    border-radius: 4px;
  }
  input[type=password]{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    border: 3px solid rgb(0, 198, 212);
  border-radius: 4px;
  }
  
  input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 5px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #b81111;
  }
  
  